@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");
* {
  outline: none;
  border: none;
outline: none;
background: none;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Da 2", cursive;
  margin: 0;
  padding: 0;
  background-color: #10002b;
  color: #fff;
  display: flex;
}
header,
footer {
  background-color: #240046;
  color: #fff;
  display: flex;
  padding: 0.7rem;
  width: 100%;
  z-index: 1;
  justify-content: center;
}
header {
  top: 0;
  position: fixed;
  box-shadow: 0 5px 10px #240046;
}
footer.noscroll {
  position: fixed;
}
footer {
  bottom: 0;
  box-shadow: 0 -5px 10px #240046;
}
footer a,
footer a:visited,
header a,
header a:visited {
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin-right: 2rem;
  margin-left: 1rem;
  transition-duration: 0.5s;
}

footer a:hover,
header a:hover {
  text-shadow: 2px 2px 6px white;
}
main {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  min-height: calc(100vh - (2 * 0.7rem));
  gap: 0;
  flex-wrap: wrap;
}
h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
}

.samerow {
  display: flex;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
}
h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
}

button {
  cursor: pointer;
  background-color: #5A189A;
  border-color: #3C096C;
  border-width: 5px;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  transition-duration: 0.5s;
}

button:hover {
  border-color: #240046;
  background-color: #3C096C;
}

img {
  width: 100%;
  aspect-ratio: auto;
}

.img-container a {
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  width: 4%;
  aspect-ratio: 1 / 1;
  margin: 2%;
}