html {
    text-align: center;
    align-content: center;
    font-family: "Share Tech Mono", monospace;
  }

.content {
  animation: fadeIn 5s;
  width:90%;
    margin: 0 auto;
}

button {
  background-color: rgba(83, 141, 175, 0);
  color: #8daad8;
  border: 2.5px solid rgba(0,0,0,0);
  border-radius: 10px;
padding: 5px 13px;
  margin-bottom: 6px;
  transition-duration: 0.45s;
    font-size: 20px;
    color: #6983da;
    font-family: "Share Tech Mono", monospace;
    text-underline-position: under;
}
button:hover {
  cursor:pointer;
}

  h2 {
    font-size: 42px;
    color: #0073e6;
    margin-top: 3%;
  }
  
  
  p {
    font-size: 20px;
    color: #0073e6;
  }
  
#game {
  width: 10%;
  display: inline-block;
  background-color: rgba(83, 118, 235, 0.4);
  padding: 1%;
  border-radius: 10%;
  margin: 2%;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 5px 5px rgba(83, 118, 235, 0.4);

}

#game:hover {
  background-color: rgba(113, 142, 238, 0.6);
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 5px rgba(113, 142, 238, 0.6);
}

#game h1 {
  font-size: 0.85em;
  color: rgb(149, 186, 241)
}
#game img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  aspect-ratio: 1/1;
}

a {
  font-size: 20px;
  color: #6983da;
}
  
.bookmarklet {
  font-size: 25px;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
 }

  @keyframes fadeIn {
    0% {opacity: 0;}
    20% {opacity: 40;}
    80% {opacity: 90;}
    90% {opacity: 92;}
    100% {opacity: 100;}
  }
  
  @keyframes fadeInPadding {
    0% {padding-left: 0%;padding-right: 0%;}
    100% {padding-left: 5%;padding-right: 5%;}
  }

body {
    background: linear-gradient(45deg, rgba(36, 69, 128, 1) 0%, rgba(29, 20, 105, 1) 33%, rgba(36, 69, 128, 1) 66%, rgb(29, 20, 105) 100%);
    background-size: 400% 400%;
    animation: gradient 20s linear infinite;
    height: 100vh;
}
  
@keyframes gradient {
  0% {
    background-position: 100% 0%
}
100% {
    background-position: 15% 100%
}
}
  